
html
  head
    title DANCE WITH SIDDHARTH
    block style 
  body     
    block content
      <div class="footerfinal">
          <p> dancewithSiddharth.com &copy Copyright 2020-2021  </p>
      </div>
    
     

      