<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANCE WITH SIDDHARTH</title>
    style 
      include style.css
               
</head>
<body>
 <nav class="navbar">
     <ul class="ul">
         <li> <a href="/">  HOME         </a>  </li>
         <li> <a href="/">  ABOUT        </a>  </li>
         <li> <a href="/">  CONTACT  US  </a>  </li>
         <li> <a href="/">  SERVICES     </a>  </li>
         <li> <a href="/">  CLASS INFO   </a>  </li>
     </ul>
    
</nav>

    <section id="introSection">  WELCOME TO SIDDHARTH'S DANCE ACADEMY!  <P class="para">"EAT SLEEP DANCE REPEAT"</P></section>
   
    
    <section id="sponsorSection"> <p  class="para2" ><u> Glorious Since 1992....!</u></p>
        <div class="container">
        <div class="box1">
            <p class="para2"><u>Mission</u> </p>
            <p>. To start crafting your studio’s guiding statement, think of what sets your school apart from others. Do you place a heavy emphasis on teaching your students about healthy living outside the studio? Are a lot of your students training to become professional dancers? </p>
        </div>
        <div class="box2"><p class="para3"> <u> Vission</u></p>
          <p>A vision statement almost sounds mystical. But it’s not supernatural, far from it. Rather, a vision statement is a foundational business document.</p>
        </div>
        <div class="box3"><p class="para4"> <u>Objectives</u> </p>
            <p>Dance, the movement of the body in a rhythmic way, usually to music and within a given space, for the purpose of expressing an idea or emotion, releasing energy, or simply taking delight in the movement itself.</p>
        </div>
        </div>
    </section>


    <section class="sponsors">
        <p class="sponsor">SPONSORED BY !</p>
        <p class="dance" >"Dance is a performing art form consisting of sequences of movement, either improvised or purposefully selected. This movement has aesthetic and often symbolic value. Dance can be categorized and described by its choreography, by its repertoire of movements, or by its historical period or place of origin."                                    ...."Late  Saroj Khan"</p> 
        <div class="image">
        </div>
    </section>
    <section class="footer">
        <p class="footerP">JOIN NOW TO BE A PART OF INDIA's BEST DANCERS .....</p>
        <div class="location">    
            <u>REGISTERED OFFICE ADDRESS</u>
            Arpan Internet Private Limited,Buildings Alyssa,Outer Ring Road, Devarabeesanahalli Village,Jharsuguda, 560103,Odisha,India CIN: U51109KA2012PTC066107,Telephone: 6370183151
        </div>
        
        <div class="details">   NOTE :"Audition starts from 5 August 2021 upto  28 September 2021.Hurry before last ticket sells out. Location: Balasore.PIN:528647.Contact:159965666 for queries."</div> 
       
        <div class="social">Fillup the form to enroll now:  </div>
            <form action="/"        method="POST"    id="contact">

                <input type="text"      name="NAME"    id="NAME"     placeholder="ENTER YOUR NAME">
                <input type="text"      name="number"  id="number"   placeholder="ENTER YOUR NUMBER">
                <input type="text"      name="gender" id="gender"   placeholder="ENTER YOUR GENDER">
                <input type="text"      name="age"    id="age"   placeholder="ENTER YOUR AGE">
                <button class="btn"> SUBMIT</button>
            </form>
               
        
        
    </section>
</body>
<div class="footerfinal">
    <p> dancewithSiddharth.com &copy Copyright 2020-2021  </p>
</div>


<script>app.js</script></html>